body {
    // background-image: linear-gradient(#e66465, #9198e5);
    height: 1100px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
}