/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*                                              COMMUN                                                  */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@font-face
{
    font-family: 'raleway';
    src: url('Font/Raleway-Italic-VariableFont_wght.ttf') format('truetype'),
         url('Font/Raleway-VariableFont_wght.ttf') format('truetype'), 
         url('Font/static/Raleway-Bold.ttf') format('truetype'); 
}

body
{
    background-image: url(Pictures/bg02.jpg);
    display: flex; 
    justify-content: center;
}

header
{
    border: solid rgb(5, 6, 3);
}

p 
{
    font-family: 'raleway', serif;
}

nav
{
    margin-bottom: 4px;
    border: solid rgb(7, 8, 5);
    width: 300px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

img
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*                                    NAV BANDEAU PRINCIPAL                                             */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.nav-swipe
{
    width: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0px 5px 5px;
    font-size: 30px;
    color: black;
}

.nav-logo
{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0px 5px 100px;
    font-size: 30px;
    color: black;
}

main 
{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 5px 0px 10px 0px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/*                                     MAIN AVEC LES MESSAGES                                           */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.message-information
{
    width: 290px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.message-information__picture
{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-radius: 50%; */
}

.message-information__message
{
    width: 230px;
    display: flex;
    margin-left: 8px;
    justify-content: flex-start;
    align-items: center;
}

