@font-face {
  font-family: "raleway";
  src: url("../../Font/Raleway-Italic-VariableFont_wght.ttf") format("truetype"), url("../../Font/Raleway-VariableFont_wght.ttf") format("truetype"), url("../../Font/static/Raleway-Bold.ttf") format("truetype");
}
* {
  font-family: "raleway", serif;
}

h2 {
  background-color: #edebeb;
  width: 100%;
  margin: 0px 0px 15px 0px;
  height: 40px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.proj-identification {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info-identification {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 18px;
  padding: 15px;
}
.info-identification .info-identification__input {
  width: 350px;
  padding: 5px 15px 5px 15px;
  margin: 5px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
}

.input {
  font-size: 18px;
}

.instrument-buttons {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 700px;
}
.instrument-buttons .instrument-button {
  margin: 15px;
}
.instrument-buttons span {
  font-size: 22px;
}

.instrument-button {
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(#faf0e6, #fcfcfc);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.proj-experience {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 500px;
}
.proj-experience .xp-button {
  padding: 15px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(#faf0e6, #fcfcfc);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.xp-button span, .button-cliqued span {
  font-size: 22px;
}

.response-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px;
  padding: 15px;
}
.response-button .response-button__serious,
.response-button .response-button__fun,
.response-button .response-button__beer,
.response-button .response-button__beef {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 5px;
}
.response-button p {
  margin: 0;
  padding: 0;
}
.response-button h3 {
  margin: 0;
  padding: 0;
}

.validation-button {
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(#faf0e6, #fcfcfc);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
}

a {
  text-decoration: none;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}
nav img {
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.nav-message {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-message span {
  font-size: 35px;
  color: black;
}

main {
  display: flex;
  justify-content: center;
  border: solid green;
  height: 100%;
  margin: 30px 10px 0px 10px;
}

.musician_card {
  display: flex;
  flex-direction: column;
}

.musician_picture {
  border-radius: 30px;
}

.musician_picture img {
  width: 100%;
}

.musician_description_button {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(255, 230, 204, 0.8);
}

.Logo_description {
  border: solid salmon;
}

.bio {
  padding: 10px;
  margin-top: 10px;
}

footer {
  border: solid;
  padding-bottom: 0px;
}

.buttons {
  width: 700px;
  margin: 25px 25px 0px 25px;
  border: solid;
  display: flex;
  justify-content: space-around;
}

#mute_button,
#swipe_button {
  border: solid;
  width: 75px;
  height: 75px;
  border-radius: 45px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

body, html {
  max-height: 926px;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

header {
  background-image: linear-gradient(#f35f5f, #f5e4cf);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 30000;
}

.button-cliqued {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(#faf0e6, #fcfcfc);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-right: 15px;
  border: solid;
}

/*# sourceMappingURL=style.css.map */
