@mixin buttons {
    width: 200px;
    height: 50px;
    border-radius: 20px;
    border: none;
    background-image: linear-gradient(#faf0e6,#fcfcfc);
    @include shadow-btn(); 
}

@mixin shadow-btn{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

@mixin flex-center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}