// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
//             HEADER
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
nav
{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    
    img{
        margin-right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}

.nav-message{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    span{
        font-size: 35px;
        color: black;
    }
}

// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
// L'ECRAN SWIPE 
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
main {
    display: flex;
    justify-content: center;
    border: solid green; 
    height: 100%;
    margin: 30px 10px 0px 10px;
}

.musician_card {
    display: flex;
    flex-direction: column;
}

.musician_picture {
    border-radius: 30px;
}

.musician_picture {
    img {
        width: 100%;
        }
}

.musician_description_button {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(255, 230, 204, 0.8);
}

.Logo_description {
    border: solid salmon;
}

.bio {
    padding: 10px;
    margin-top: 10px;
}

footer{
    border: solid;
    padding-bottom: 0px;
    width: 100%;
}


.buttons {
    margin: 25px 25px 0px 25px;
    border: solid;
    display: flex;
    justify-content: space-around;
}

#mute_button,
#swipe_button {
    border: solid;
    width: 75px;
    height: 75px;
    border-radius: 45px;
}